* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif ;
}

body {
    background-color: #F9FAF7;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 5%;
    background: #F2F2EB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

/*OPMAAK LOGO*/
.logo {
    display: flex;
    justify-content: left;
    width: 100%;
    padding-right: 5%;
}


/*OPMAAK NAVBAR*/
.navbar a {
    font-size: 1.15rem;
    color: #89A66F;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}

.navbar a:hover {
    background-color: #F2F2EB;
    padding: 0.5em 0 0.5em 0;
}

#check {
    display: none;
}

.icons img {
    right: 5%;
    width: 1.5em;
    cursor: pointer;
    display: none;
}

.icons img {
    display: inline-flex;
}

#check:checked~.icons #menu-icon {
    display: none;
}

.icons #close-icon {
display: none;
}

#check:checked~.icons #close-icon {
    display: block;
}

.navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0rem;
    background: #e9e9e1;
    overflow: hidden;
    transition: 0.3s ease;
}

#check:checked~.navbar {
    height: 11.5rem;
}

.navbar a {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
    transition: 0.3s ease;
}

#check:checked~.navbar a {
    transform: translateY(0);
}

/*OPMAAK MAIN*/
main {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
}

.bakjeplantlogo {
    padding: 27% 10% 0em 10%;
}

main h1 {
    font-size: 2.5em;
    color: #265c19;
    padding: 0.8em 0  0   0;
}

main p {
    font-size: 1em;
    color: #265c19;
    padding: 0em 0.5em 1.2em 0.5em;
}

/*OPMAAK footer*/
.doemee, .inspo{
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

.knoppen img {
    width: 4em;
    padding-left: 10%;
    padding-right: 0.3em;
}

.knoppen h2 {
    font-size: 1.7em;
    color: #265c19;
}

.knoppen p {
    font-size: 1em;
    color: #265c19;
}

.doemee, .inspo {
    background-color: #89A66F30 ;
    border-radius: 25px;
    padding: 0.3em;
    margin-bottom: 1em;
}

img.arrow {
    padding-top: 1em;
    padding-right: 10%;
    width: 3em;
}

img.arrow:hover {
    width: 3.2em;
}

/*OPMAAK MAIN VOOR DOE MEE EN INSPIRATIE*/
.imgdmis {
    width: 4.5em;
    padding: 0 0 0 0.3em;
}

.h1dmis {
    font-size: 2.5em;
    padding: 0  0   0   0.3em;
}

.textdmis {
    padding-top: 0.3em;
}

.opmaakdmis {
    display: flex;
    flex-direction: row;
    padding: 5em 0  0   0;
}

/*OPMAAK FOOTER DOE MEE*/
.secties {
    display: flex;
    justify-content: space-between;
    padding: 0  0.5em 0 0.5em;
    font-size: 1em;
    color: #89A66F;
}